@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');

:root {
    --font-body: 'Open Sans', sans-serif;
    --font-headline: 'Roboto', sans-serif;
    --primary-color: #b2f2bb;
    --secondary-color: #1e1e1e;
    --background-color: #1e1e1e;
    /*  */
    /* #cccccc */
    --secondary-background: #333333;
    --text-primary: #1e1e1e;
    --text-background: #ffffff;
    --border-color: #1e1e1e;
}

/* HTML element Styles */
img {
    max-width: 100%;
    max-height: 100%;
}

svg {
    max-width: 100%;
    max-height: 100%;
}

h1, h2, h3, h4, h5, h6, label {
    font-family: var(--font-headline);
    color: var(--text-background);
}

p, li {
    font-family: var(--font-body);
    color: var(--text-background);
}

li {
    list-style-type: none;
}

body {
    background-color: var(--secondary-background);
    margin: 0px;
    height: 100vh;
}

button {
    background-color: var(--primary-color);
    color: var(--text-background);
    padding: 8px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
/* End HTML element styels */

/* Utility styles */
.section-heading {
    margin-left: 15px;
}

.d-none {
    display: none;
}

.toggle-capsule {
    background-color: var(--primary-color);
    width: 55px;
    height: 20px;
    margin-right: 5px;
    margin-left: 5px;

    border-radius: 10px;
    display: flex;
    align-items: center;
    position: relative;

    cursor: pointer;
}

.toggle-indicator {
    width: 20px;
    height: 20px;
    background-color: #80c059;
    border-radius: 50%;

    transition: transform 0.3s ease;
}

.toggle-right {
    transform: translateX(35px);
}

.toggle-left {
    transform: translateX(0px);
}

.vertical-line {
    background-color: var(--text-background);
    width: 100%;
    height: 100%;
}

.pop-up {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--background-color);
}

.border-rounded {
    border-radius: 15px;
    border: 1px solid var(--border-color);
}

.border-rounded-sm {
    border-radius: 5px;
    border: 1px solid var(--border-color);
}

.flex-vertical-evenly {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.flex-evenly {
    display: flex;
    justify-content: space-evenly;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.active {
    background-color: var(--primary-color);
}

.grid-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}
/* End Utility */

/* Nav Bar */
#ham-menu {
    width: 50px;
}

.menu-icon {
    width: 70px;
    margin-left: 10px;
    cursor: pointer;
}

#nav-bar {
    height: 100vh;
    max-width: 500px;
    width: 100%;

    position: absolute;
    top: 0;
    left: 0;

    background-color: var(--background-color);

    padding: 20px;
}

.menu-close-icon {
    cursor: pointer;
}

.nav-grid {
    display: grid;
    grid-template-rows: 1fr 4fr 1fr 1fr;
}

#menu-section {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#menu-section img {
    cursor: pointer;
}

#nav-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#nav-section p {
    font-size: 24px;
}

.nav-item {
    width: 80%;
    height: 100px;

    border-radius: 7px;
    padding: 5px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
}

.nav-item:hover {
    background-color: var(--primary-color);
}

.nav-icon {
    width: 75px;
    height: 75px;

    background-color: var(--primary-color);
    padding: 5px;
    border-radius: 7px;
}

#settings-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

#copyright-section {
    text-align: center;
}

/* End Nav Bar */

/* Game Card Styles */
.card {
    width: 100%;
    height: 375px;
    text-align: center;

    display: grid;
    grid-template-rows: 4fr 1fr 1fr;

    border: 1px solid var(--border-color);
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2); /* Change the box shadow on hover for an interactive effect */
}

.card-img-div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
    border-radius: 10px;
    overflow: hidden;
}

.card-img-div img {
    cursor: pointer;
}

.card-bottom-div {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.card-group {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    padding: 20px;
}

@media screen and (max-width: 620px) {
    .card-group {
        grid-template-columns: 1fr;
    }
}
/* End Game Card Styles */

/* Header */
header {
    width: 100%;
    height: 100px;
    background-color: var(--background-color);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

/* Mobile Styles */

/* List Styles */
.list-div {
    width: 85%;
    padding: 20px;
    cursor: pointer;
}

/* End List Styles */

/* List Page Styles */
#list-main {
    display: grid;
    grid-template-columns: 1fr 3px 3fr;
    height: 100%;
}

#list-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#list-game-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    padding: 10px;
}

.list-description {
    grid-column: 1/3;
    display: flex;
    justify-content: center;
    align-items: center;
}

#create-list-button {
    width: 80%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 20px;
}

.create-form {
    max-width: 400px;
    max-height: 200px;
    width: 100%;
    height: 100%;

    padding: 25px;
}

@media screen and (max-width: 600px) {
    #list-game-section {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 780px) {
    #list-main {
        display: flex;
        flex-direction: column;
    }

    #list-section {
        display: grid;
        grid-auto-flow: column;
        grid-gap: 10px;
        overflow-x: scroll;
        max-width: 100vh;

        text-align: center;
    }

    .list-div {
        min-width: 100px;
    }

    #create-list-button {
        width: 100px;
    }

    .vertical-line {
        height: 3px;
    }
}

/* End List Styles */

/* Form Styles */
form input {
    height: 25px;
    font-family: var(--font-body);
}

form textarea {
    height: 50px;
    font-family: var(--font-body);
}

form select {
    height: 25px;
    font-family: var(--font-body);
    cursor: pointer;
}

form img {
    cursor: pointer;
}

.add-form-overlay {
    width: 100%;
    height: 100%;
    padding: 20px;
}
/* End Form Styles */

/* Discover Styles */
#filter-form {
    background-color: var(--background-color);

    height: 175px;
    width: 70%;
    max-width: 700px;
    padding: 25px;

    margin-top: 20px;
}

.pagination {
    display: grid;
    margin-bottom: 20px;
}

.next-btn {
    justify-self: flex-end;
    margin-right: 20px;
    width: 100px;
}

.previous-btn {
    justify-self: flex-start;
    margin-left: 20px;
    width: 100px;
}

@media screen and (max-width: 680px) {
    #filter-form .grid-3 {
        grid-template-columns: 1fr;
    }

    #filter-form {
        height: 250px;
    }
}
/* End Discover Styles */

/* Game Details Card */
.active-img {
    border: solid 2px white;
    border-radius: 5px;
}

.img-preview {
    width: 75px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}

.game-details-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.game-details-grid div h3 {
    text-decoration: underline;
}

.sticky-overlay {
    position: sticky;
    top: 20px;
    height: 0px;
    display: flex;
    justify-content: center;
    grid-column: 1/4;
}

.overlay-box {
    width: 90vw;
    height: 90vh;
    padding: 20px;
    background-color: var(--background-color);
    overflow: scroll;
}

#game-images {
    display: flex;
    justify-content: flex-start;
    overflow: scroll;
    padding: 10px;
}

#active-img {
    height: 300px;
    display: flex;
    justify-content: center;
}

/* End Game Details Card */

@media screen and (max-width: 720px) {
    #nav-bar {
        width: 80%;
    }
}
