<section id="menu-section">
    <img class="menu-close-icon" src="images/002-close.png">
</section>
<section id="nav-section">
    <div class="nav-item">
        <div class="nav-icon">
            <img src="images/home.png">
        </div>
        <p>Home</p>
    </div>
    <div class="nav-item">
        <div class="nav-icon">
            <img src="images/list.png">
        </div>
        <p>Lists</p>
    </div>
    <div class="nav-item">
        <div class="nav-icon">
            <img src="images/search.png">
        </div>
        <p>Discover</p>
    </div>
</section>
<section id="settings-section">
    <p>Light Mode</p>
    <div class="toggle-capsule">
        <div class="toggle-indicator toggle-right">

        </div>
    </div>
    <p>Dark Mode</p>
</section>
<section id="copyright-section">
    <hr>
    <p>Built With ❤ in Wyoming</p>
</section>